@media screen and (max-width:1100px) {
    .my-col{
        width: calc((100% / 4) - 20px);
    }
   
}


/*
RESPONSIVE TABLET
*/
@media screen and (max-width:768px) {
    .my-col{
        width: calc((100% / 2) - 20px);
    }
    
}

/*
RESPONSIVE SMARTHPHONE
*/
@media screen and (max-width:576px) {
    .overflow-container{
        width: 100%;
    }
   .logo-img{
    display: none;
   }
   .nav-sx-container{
    max-width: 60px;
   }
   .small-logo{
    display: block;
    padding-top: 10px;
    padding-left: 20px;
   }
   .small-logo>img{
    width: 25px;
    height: 25px;
   }
   .link-nav{
    display: none;
   }
   .my-playlists{
    display: none;
   }
   .personal-info{
    padding: 0;
   }
   .personal-info>.hr-personal-info{
    display: none;
   }
   .app-dwn{
    margin: 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;
   }
   .app-dwn>a{
    display: none;
   }
   .avatar-prof>.user-name{
    display: none;
   }
   .avatar-icon{
    margin: 0 auto;
    padding: 0;
   }
   .timelaps-bar{
    width: 100%;
   }
}
