/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/*
GENERAL
*/
.flex-container {
    display: flex;

}
.flex-padding{
    padding-left: 20px;
}
.img {
    max-width: 100%;
    max-width: 100%;

}

/*
MAIN
*/
main {
    width: 100vw;
}

.container {
    flex-direction: row;
}

.nav-sx-container {
    width: 300px;
    min-height: 600px;
    background-color: #000000;
}
.upper-nav-link{
  padding-top: 15px;
  padding-left: 20px;
  
}

.logo-img {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100px;

}
.nav-icon >img{
    width: 25px;
    height: 25px;
    color: grey;
    
}
.link-nav{
    padding-top: 5px;
}
.link-nav:hover{
    color: white;
}
.link-nav >a{
    text-decoration: none;
    color: grey;
}
.link-nav >a:hover{
    color: white;
}
.logo-img img {

    height: 80%;
    width: 80%;
    object-fit: contain;
}
.my-playlists{
    padding-top: 30px;
    padding-left: 20px;
    color: grey;
}
.my-playlists >h3{
    color: white;
}
.my-playlists >h4{
    padding-top: 20px;
}
.my-playlists >.playlist-cont{
    padding-top: 15px;
    color: grey;
}
.my-playlists >.playlist-cont >a{
    text-decoration: none;
    color: grey;
}
.personal-info{
    width: 100%;
    min-height: 100px;
    padding-bottom: 15px;
}
.personal-info >.app-dwn{
    padding-top: 20px;
    padding-left: 20px;
    color: grey;
}
.personal-info >.app-dwn >a{
    text-decoration: none;
    color: grey;
}
.hr-personal-info{
    width: 80%;
    border-top: solid 1px;
    border-color: grey;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
   
    
}
.avatar-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
}
.avatar-icon >img{
    
    object-fit: contain;
}
.user-name{
    color: white;
    align-self: center;
    padding-left: 15px;
}
.overflow-container {}



.upgrade-button {}

/*
FOOTER
*/
footer {
    --position: fixed;
    width: 100%;

    background-color: #282828;
}

.footer-container {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.song-in-play-cont {
    align-items: center;

}

.album-song-img {
    width: 50px;
    height: 50px;
    background-color: white;
}

.icon-f-center-container {

    text-align: center;
    padding-bottom: 20px;

}

.info-f-song {
    padding-left: 10px;
    font-size: 0.75rem;
    color: white;
}

.heart-folder-cont {
    padding-left: 20px;
}

.timelaps-music-container {
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

.timelaps-bar {
    width: 300px;



}

.small-timelaps-bar {
    width: 25%;
    height: 5px;
    background-color: grey;
    border-radius: 20px;
    position: relative;
}

.dot-music {
    position: absolute;
    top: -5px;
    right: 0;
    display: none;
}

.large-timelaps-bar {
    width: 75%;
    height: 5px;
    background-color: black;
    border-radius: 20px;
}

.time-played {
    padding-right: 30px;
}

.time-music {
    padding-left: 30px;

}

.volume-cont {
    align-items: center;
}

.volume-bar {
    width: 70px;

}

.volume-screen-f-cont {
    padding-right: 20px;
}

.footer-icons {
    padding-left: 15px;
    color: white;
}

.footer-icons-sx {
    color: grey;
}

.info-f-song>.link-name>a {
    text-decoration: none;
    color: white;
}

/*
HOVER-NEL-FOOTER
*/
.footer-icons-sx:hover {
    color: white;
}

.info-f-song>.link-name>a:hover {
    text-decoration: underline;
}

.icon-scale {
    display: inline-block;
    transition: 0s;
}

.icon-f-center-container>.icon-scale:hover {
    transform: scale(1.3);
}

.small-timelaps-bar:hover {
    background-color: lightgreen;
    height: 7px;
    .dot-music {
        display: block;
    }
}


