/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/*
GENERAL
*/
body{
    position: relative;
}
.flex-container {
    display: flex;
}
.flex-padding{
    padding-left: 20px;
}
.img {
    max-width: 100%;
    max-width: 100%;

}

/*
MAIN
*/
main {
    width: 100vw;
}

.container {
    height: calc(100vh - 100px);
    
}

.nav-sx-container {
    width: 300px;
    background-color: #000000;
    position: relative;
}
.upper-nav-link{
  padding-top: 15px;
  padding-left: 20px;
  
}

.logo-img {
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100px;

}
.nav-icon >img{
    width: 25px;
    height: 25px;
    color: grey;
    
}
.link-nav{
    padding-top: 5px;
}
.link-nav:hover{
    color: white;
}
.link-nav >a{
    text-decoration: none;
    color: grey;
}
.link-nav >a:hover{
    color: white;
}
.logo-img img {

    height: 80%;
    width: 80%;
    object-fit: contain;
}
.my-playlists{
    padding-top: 30px;
    padding-left: 20px;
    color: grey;
}
.my-playlists >h3{
    color: white;
}
.my-playlists >h4{
    padding-top: 20px;
}
.my-playlists >.playlist-cont{
    padding-top: 15px;
    color: grey;
}
.my-playlists >.playlist-cont >a{
    text-decoration: none;
    color: grey;
}
.playlist-cont >a:hover{
    color: white;
}
.personal-info{
    width: 100%;
    min-height: 100px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    
}
.personal-info >.app-dwn{
    padding-top: 20px;
    color: grey;
}
.personal-info >.app-dwn >a{
    text-decoration: none;
    color: grey;
}
.hr-personal-info{
    width: 80%;
    border-top: solid 1px;
    border-color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.avatar-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
}
.avatar-icon >img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
    display: inline-block;
    object-fit: contain;
}
.user-name{
    color: white;
    align-self: center;
    padding-left: 15px;
}
.overflow-container {
    width: calc(100% - 100px);
    overflow-y: auto;
    
}
.button-container{
    height: 100px;
    background-color:#080B12;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-right: 10px;
}


.upgrade-button {
    height: 50px;
    background-color: #080B12;
    color: white;
    text-decoration: none;
    border:1px solid white; 
    border-radius:30px;
    padding: 20px;
    line-height: 10px
}
.upgrade-button:hover{
    transition: 0s;
    transform: scale(1.2);
}
/*
CONTENUTO INTERNO-IMMAGINI DELLE CANZONI TITOLI NEL CONTAINER IN OVERFLOW
*/
.list-link-container{
    background-color: #141922;
}
.listed-link-main{
    width: 100;
    
}
.listed-link-main >ul{
    display: flex;
    text-decoration: none;
    justify-content: center;
    flex-wrap: wrap;
    
}
.listed-link-main >ul >li{
    display: inline-block;
    margin: 5px;
}
.bottom-border-hover{
    width: 80%;
    margin: 0 auto;
    height: 3px;
    border-radius: 2px;
    background-color: lightgreen;
    display: none;
}
.listed-link-main >ul >li >a{
    text-decoration: none;
    color: grey;
    padding: 10px;

}
.listed-link-main >ul >li >a:hover{
    color: white;

}
.listed-link-main >ul >li >.bottom-border-hover:hover{
    
        animation-duration: 2s;
        animation-name: fill;
}
    @keyframes fill {
        0%{
            width: 25%;
        }
        50%{
            width:50%;
        }
        100%{
            width:100%
        }
        
    }

.main-content-cont{
    background-color: #141922;
    padding-top: 30px;
    
}
.main-content-cont >h2{
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.my-row{
    display: flex;
    flex-wrap: wrap;   
}
.main-content-cont >p{ 
    font-size: 0.75rem;
    color: grey;
    padding-left: 10px;
    padding-bottom: 20px;
}
.my-col{
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
    text-align: center;
    
}
.my-col >img{
    width: 100%;
    object-fit: contain;
    display: block;
    padding-bottom: 10px;
    
}
.my-col >h4{
    color: white;
    padding-bottom: 10px
}
.my-col >p{
    color: grey;
    padding-bottom: 10px;
}
.rounded-col >img{
    border-radius: 50%;
}
/*
FOOTER
*/
footer {
    position: sticky;
    bottom: 0;
    width: 100%;

    background-color: #282828;
}

.footer-container {
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.song-in-play-cont {
    align-items: center;

}

.album-song-img {
    width: 50px;
    height: 50px;
    background-color: white;
}

.icon-f-center-container {

    text-align: center;
    padding-bottom: 20px;

}

.info-f-song {
    padding-left: 10px;
    font-size: 0.75rem;
    color: white;
}

.heart-folder-cont {
    padding-left: 20px;
}

.timelaps-music-container {
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

.timelaps-bar {
    width: 300px;

}

.small-timelaps-bar {
    width: 25%;
    height: 5px;
    background-color: grey;
    border-radius: 20px;
    position: relative;
}

.dot-music {
    position: absolute;
    top: -5px;
    right: 0;
    display: none;
}

.large-timelaps-bar {
    width: 75%;
    height: 5px;
    background-color: black;
    border-radius: 20px;
}

.time-played {
    padding-right: 30px;
}

.time-music {
    padding-left: 30px;

}

.volume-cont {
    align-items: center;
}

.volume-bar {
    width: 70px;

}

.volume-screen-f-cont {
    padding-right: 20px;
}

.footer-icons {
    padding-left: 15px;
    color: white;
}

.footer-icons-sx {
    color: grey;
}

.info-f-song>.link-name>a {
    text-decoration: none;
    color: white;
}

/*
HOVER-NEL-FOOTER
*/
.footer-icons-sx:hover {
    color: white;
}

.info-f-song>.link-name>a:hover {
    text-decoration: underline;
}

.icon-scale {
    display: inline-block;
    transition: 0s;
}

.icon-f-center-container>.icon-scale:hover {
    transform: scale(1.3);
}

.small-timelaps-bar:hover {
    background-color: lightgreen;
    height: 7px;
    .dot-music {
        display: block;
    }
}


